/* =========================================================
   Media Queries
============================================================ */
@media only screen and (min-width: 768px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }


}

@media only screen and (max-width: 767px) {
	body.single-mvn_product div.subpage{
		display:none;
	}
  div[class*='grid-'],
  .blog-top .grid-half,
  .callout .text,
  .row .text,
  .contact-info,
  .location-map,
  .column-list,
  .message,
  .donate-billing fieldset > div, .donate-notes fieldset > div, .confirmation fieldset { width: 100% }

  div[class*='grid-'],
  .mini-post,
  .right,
  .sidebar,
  .content,
  .checkout-page .logo,
  .checkout-page .need-help,
  .row .image,
  .row .text,
  .contact-info,
  .location-map,
  .column-list,
  .message {
    float: none !important;
  }
  .topnav,
  .have-question,
  .search-wrap,
  .prices-wrap,
  .footer .tweet,
  .footer-logo,
  .checkout-page .need-help span,
  .option-view a.cal { display: none !important; }

  .logo {
    margin-top: 20px;
    width: 211px;
  }
  .navbar { border-bottom: none; height: auto; }
  .navbar .container { width: 100%; }
  .nav-collapse { clear: both; }
  .nav-collapse,
  .nav-collapse.collapse { overflow: hidden; height: 0; }
  .navbar .btn-navbar {
    background: url(../images/sprite.png) -156px -472px no-repeat;
    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 10px;
    text-indent: -999em;
    top: -60px;
    width: 39px;
  }
  .header.fixed .nav { margin-top: 0; }
  .nav { margin: 0; }
  .nav li { width: 50%; }
  .nav li a {
    border-bottom: 1px solid #000;
    border-top: 1px solid #454545;
    font: 14px 'proxima_nova_cn_rgregular', Helvetica, Arial, sans-serif;
    height: auto;
    padding: 15px 0;
    text-align: center;    
  }
  .nav li:nth-child(1) a,
  .nav li:nth-child(3) a,
  .nav li:nth-child(5) a {
    border-left: none;
    border-right: 1px solid #000;
  }
  .nav li:nth-child(1) a,
  .nav li:nth-child(2) a { display: none; }
  .nav li a:hover,
  .nav li.sfHover a,
  .nav li.current a { border-bottom-width: 1px !important; }
  .nav ul {
    display: none !important;
    visibility: hidden !important;
  }
  .mobile-nav { display: block; position: relative; z-index: 5000; }
  .mobile-nav li {
    list-style: none;
    float: left;
    width: 50%;
  }
  .mobile-nav li a { border-bottom: none !important; font-size: 16px; text-align: center; }
  .socials { border: none; }
  .subscribe-wrap a { padding: 0; }
  #search-form {
    clear: left;
    display: block !important;
    position: relative;
    background: #000;
    top: -3px;
  }
  #search-form .input { width: 63%; }

  .tagline { font-size: 30px; line-height: 35px; }
  .news-wrap { text-align: center; }
  .news-wrap .date { display: block; margin: 0; }
  .news-wrap .browse { margin: 10px 0 30px; }
  .mini-post { margin: 5% auto; }
  .newsletter-wrap { height: auto; padding-bottom: 30px; }
  .newsletter-wrap h3 { border: none; }
  .newsletter-wrap p { margin: 0; }
  .subpage li { display: block; }
  .subpage a { margin: 0; padding-bottom: 0; text-align: left; }
  .subpage .active a, .subpage a:hover { background: none; }
  .sidebar, .content, .details-wrap .details, .description .desc-content, .details-wrap .artist-corner, .description .desc-sidebar { width: 100%; }
  .details-wrap { margin-bottom: 0; }
  .share { margin-top: 20px; }
  .artist-corner .widget { text-align: center; }
  .description .tabs { background: none; margin-top: 0;}
  .description .tabs ul { width: 100%; padding: 0;}
  .description .tabs li { display: block; }
  .tabs a { display: block; margin-bottom: 2px; }
  .landing-page .col { padding-bottom: 10px; }
  .blog-top { padding: 0 0 15px; }
  .blog-top label { display: inline-block; width: 25%;}
  .blog-top .categories { margin-bottom: 15px; }
  .blog-top .categories .selectbox { min-width: 70%; width: auto;}
  .blog-top .search { min-width: 55%; width: auto; }
  .feat-post, .single-blog .post,
  .feat-post .entry, .single-blog .entry { width: 100%; }
  .feat-post .share, .single-blog .share { width: 30%; }
  .feat-post .post-title, .single-blog .post-title { font-size: 39px; line-height: 39px; }
  .checkout-page .need-help { margin-top: 20px; text-align: center; }
  .checkout-page .need-help small { text-align: center; }
  .checkout-page .back { top: -60px; }
  .checkout-page .steps li { padding-bottom: 10px; text-align: left; width: 100%; }
  .steps { background: none; border-bottom: 1px solid #deded2; padding: 0;}
  .steps li { display: block; padding-bottom: 10px; text-align: left; width: 100%; }
  .steps li.active { background: none; }
  .callout { padding: 20px 10%; }
  .callout .btn-subscribe { margin: 0; width: 80%; }
  .toolbar { padding-bottom: 15px; display:none;}
  .toolbar .title { display: block; float: none; margin-bottom: 10px; }
  .concerts-page .toolbar .grid-1 { float: left !important; margin-bottom: 5px; width: 45%; }
  .concerts-page .toolbar .grid-1:nth-child(2n+2) { float: right !important; }
  .concerts-list #grid article { text-align: center; width: 100%; }
  .concerts-list #grid .image { margin: 0 auto 10px; }
  .row .image { margin: 0 auto 20px; }
  .column-list p { display: block; }
  .column-list p:nth-of-type(2n+2) { margin: 0; }
  .subscription-wrap .boxes { margin-bottom: 10px; }
  .donate-form .donation-amount { padding: 0 5%; width: 90%; }

  .footer { padding-top: 20px; }
  .footer .connect { background: none; margin-bottom: 20px; }
  .footer .socials { background: none; padding: 0; height: auto; width: auto;}
  .footer-bottom { margin-top: 10px; padding-top: 20px; }
  .footer-bottom .madein { margin-top: 20px; text-align: left; }

	/*LEARN STYLE*/
	.socseries figure{
			width: 90%;
		float: none;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
	}
	  .socseries .desc{
	  		text-align: center;
			padding: 0 2%;
	  }
	.thumbItem article{
		 height: auto;
		text-align: center;
		margin: 0 auto;	
		margin-bottom:25px;
		float:none;
	}
	.socseries h2{
		font-size:38px;
	}

  /*STUDENT STYLE*/
  .studpass.grid-3{
    width: auto;
    margin-bottom: 40px;
    height: auto;
  }
  .gform_wrapper .gformTitle{
    font-size: 24px;
  }

 
 
}

 /*STUDENT STYLE*/
@media only screen and (max-width: 959px) {
   /*STUDENT STYLE*/
  .gform_wrapper li.half .ginput_container{
      width: 100%;
  }
  .fullvideo{
    height: auto;
  }
  .socseries h2, .titlemed{
    font-size: 40px;
  }
}

@media only screen and (min-width:768px) and (max-width:959px) {
  .container { max-width: 768px; }
  .have-question { background: none; box-shadow: none; }
  .header.fixed .logo img {
    -webkit-transform: scale(.65);
    -moz-transform: scale(.65);
    -o-transform: scale(.65);
    -ms-transform: scale(.65);
    transform: scale(.65);
    margin-left: -50px;
  }
  .fixed .nav { margin-right: 530px; }
  .nav li a { /*padding: 0 22%;*/ padding: 0 25px; }
  .fixed .nav li a { font-size: 14px; padding: 0 5px; }
  .mini-post { width: 230px; }
  .row .text,
  .row .quote p { width: 75%; }
  .newsletter-wrap { height: auto; }
  .newsletter-wrap h3 { font-size: 16px; }
  .newsletter-wrap .btn-signup { padding: 12px 10px; }
  .subpage li { margin: 0 2%; }
  .subpage a { margin: 0; }
  .description .tabs { background: none; }
  .description .tabs ul { padding: 0; }
  .footer .socials { width: 26%; }
  .footer .tweet { width: 69%; }
  .checkout-page .steps li { width: 30%; }

  /*LEARN STYLE*/
  .socseries figure{width:320px}
  .socseries .desc{overflow:visible;}

  /*STUDENT STYLE*/
  .studpass{
    height: 400px
  }
  .studpass.grid-3{
    width: 41%;
  }
  .nav ul .mega-wdg-1{
    width: 30%;
  }
  .nav ul .mega-wdg-2{
    width: 25%;
  }
  .nav li ul .mega-wdg a{
    padding: 0;
  }
  .nav ul .mega-wdg-1 li{
    width: auto;
    max-width: none;
  }

}

 /*STUDENT STYLE*/
@media screen and (max-width: 480px){
  .gform_wrapper .ginput_container{
    width: 92% !important
  }
}
@media screen and (min-width: 480px) {
  .container { width: 98%; }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-unit {
    float: left;
    width:96.969696969697%;
    margin:0 1.515151515152% 1em;
  }
  .gallery .grid-unit,
  .grid-half {
    width:46.969696969697%;
    margin: 0 1.515151515152% 1em;
  }
  .grid-flow-opposite { float:right }

  
}

@media screen and (min-width: 768px) {
  .grid-1, .select-filter     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }
  .gallery .grid-unit { width: 30.30303030303%; }
  .content-pad-left { padding-left: 4%; }
  .content-pad-right { padding-right: 4%; }
}
@media screen and (min-width: 768px) {
  .grid-1, .select-filter     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }
  .gallery .grid-unit { width: 30.30303030303%; }
  .content-pad-left { padding-left: 4%; }
  .content-pad-right { padding-right: 4%; }
}
@media screen and (min-width: 768px) {
  .grid-1, .select-filter     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }
  .gallery .grid-unit { width: 30.30303030303%; }
  .content-pad-left { padding-left: 4%; }
  .content-pad-right { padding-right: 4%; }
}
@media screen and (min-width: 768px) {
  .grid-1, .select-filter     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }
  .gallery .grid-unit { width: 30.30303030303%; }
  .content-pad-left { padding-left: 4%; }
  .content-pad-right { padding-right: 4%; }
}
@media screen and (min-width: 768px) {
  .grid-1, .select-filter     { width: 13.636363636364%; }
  .grid-2     { width: 30.30303030303%; }
  .grid-3,
  .grid-half  { width: 46.969696969697%; }
  .grid-4     { width: 63.636363636364%; }
  .grid-5     { width: 80.30303030303%; }
  .grid-6,
  .grid-full  { width: 96.969696969697%; }
  .gallery .grid-unit { width: 30.30303030303%; }
  .content-pad-left { padding-left: 4%; }
  .content-pad-right { padding-right: 4%; }
}
@media screen and (max-width:340px) {
.listen{
		display: none;
	}
}
